@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Bungee+Outline|Faster+One');

html body #map{
  height: 78vh;
  width: 90%;
  margin: auto;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
  background-color: #d7d7d7;
}

.header-container{
  display: flex;
  justify-content: space-between;
  background-color: #328cc1;
  width: 90%;
  margin: auto;
  color: white;
}

h1{
  font-family: 'Bungee Outline';
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  padding-left: 20px;
}

.weather-data{
  float: right;
  display: flex;
  padding-right: 20px;
}

.nav-container{
  display: flex;
  justify-content: flex-start;
  width: 90%;
  margin: auto;
  background-color: #0b3c5d;
  line-height: 40px;
  height: 40px;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
}

button{
  margin-top: -5px;
  margin-left: 20px;
  height: 50px;
  width: 250px;
  background-color: white;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.marker-icon {
  height: 100px;
  width: 100px;
  border: 2px solid #0b3c5d;
  border-radius: 50%;
}

.popup {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.leaflet-marker-icon.leaflet-div-icon.leaflet-zoom-animated.leaflet-interactive{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #0b3c5d;
}
